<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsDesktopEnviourment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WinFormsDesktopEnviourment.Properties.Settings>
            <setting name="ProcessorName" serializeAs="String">
                <value>Processor (Unable To Detect)</value>
            </setting>
            <setting name="GraphicsName" serializeAs="String">
                <value>Graphics (Unable To Detect)</value>
            </setting>
            <setting name="RamAmount" serializeAs="String">
                <value>0 KB (Unable To Detect)</value>
            </setting>
            <setting name="WindowsVersion" serializeAs="String">
                <value>Windows NT (Unable To Detect)</value>
            </setting>
            <setting name="TaskbarSize" serializeAs="String">
                <value>32</value>
            </setting>
        </WinFormsDesktopEnviourment.Properties.Settings>
    </userSettings>
</configuration>